
.habit-card {
    margin-bottom: 15px;
}

.day-label {
    font-weight: 500;
    font-size: 0.85rem;

    <style>
    .main {
        font-family: 'copperplate', cursive, sans-serif;
    }
    </style>
    """
}

.habit-icon {
    font-size: 1.2rem;
    margin-right: 8px;
    color: #a094ef;
  
}
body { background-color: #bddcf5;
footer{
    padding-top: 20px;
}

/* Slide-In on Hover */
.animated-card {
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #9fbcec;
  }
  
  .animated-card:hover {
    transform: scale(1.05);
    background-color: #7bbdec; /* light blue */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
  
  